
// SampleComponent
// ============
// A basic sample component

.SampleComponent {
    @include shadow();
    text-align: center;
    background: #eee;
    border-bottom: 1px solid #ccc;
    border-radius: 10px;
    padding: $size-l;
    margin: $size-l;
}