
//- Index
//- ============
//- The homepage for the site

//- Extend head of document
extends _includes/_head

//- Page vars
block pageVars
	- var bodyClass = 'home'

//- Includes
include ../components/SampleComponent/_SampleComponent

//- Page content
block content

	header(role="banner")#app

	//- Under document content
	include _includes/_under